/*Base*/

html {
  font-size: 62.5%; }
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5efe0;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color: black;
  overflow: hidden;


  }


/*Header*/

h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

  /* Larger than phablet */
  @media (min-width: 550px) {
    h1 { font-size: 5.0rem; }
    h2 { font-size: 4.2rem; }
    h3 { font-size: 3.6rem; }
    h4 { font-size: 3.0rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }
  }

  /*Nav*/

  .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .container-fluid {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  height: 50px;
  padding: 20px;
  padding-left: 200px;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -15px;
  }

  .btn {
  position: absolute;
  right: 200px;
  top: 20px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 0px;
  font-size: 19px;
  font-weight: 600;
  transition: filter 0.15s ease-in-out;
  cursor: pointer;
  }

  .btn:hover {
  filter: brightness(90%);
}

  .btn-submit {
    background-color: #c5d4d3;
  }


  /*Footer*/

  footer {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 100%;
    height: 3.5rem;
}

  footer .wrapper {
  text-align: center;
  padding-bottom: 2.5rem;
}

/*Form*/

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 360px;
  padding-top: 50px;
  border-radius: 8px;
  background-color: #e8e1d7;
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.add-book-form h4 {
  padding: 0px;
  top: 0px;
}
.add-book-form button {
  width: 80%;
  top: 340px;
  left: 35px;
}

.input {
  padding: 5px;
  border-radius: 8px;
  border-color: inherit;
  font-family: inherit;
  width: 80%;
  background:#f1f1f1;
  outline: none;
  border:1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input:focus {
  background-color: #c5d4d3;
  outline: none;
}

.is-read {
  display: flex;
  gap: 10px;
  row-gap: 20px;
  align-items: baseline;
}

.checkbox {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  accent-color: white;

}

.close {
  position: absolute;
  right: 10px;
  top: -10px;
  color: #aaaaaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: block;
}
