/*Base*/

html {
  font-size: 62.5%; }
body {
  background-color: #f5efe0;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color: black;
  overflow: hidden;

  }


/*Header*/

h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

  /* Larger than phablet */
  @media (min-width: 550px) {
    h1 { font-size: 5.0rem; }
    h2 { font-size: 4.2rem; }
    h3 { font-size: 3.6rem; }
    h4 { font-size: 3.0rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }
  }

  /*Nav*/

  .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .container-fluid {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  height: 50px;
  padding: 20px;
  padding-left: 100px;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -15px;
  }

  .btn {
  position: absolute;
  right: 200px;
  top: 20px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 0px;
  font-size: 19px;
  font-weight: 600;
  transition: filter 0.15s ease-in-out;
  }

  .btn:hover {
  filter: brightness(90%);
}


  /*Footer*/

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}

  footer .wrapper {
  text-align: center;
  padding-bottom: 2.5rem;
}
